<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PrideChat | Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">PrideChat</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link disabled" href="#" th:text="${username}"></a>
        </li>
        <li class="nav-item">
            <form name="logoutForm" method="post" th:action="@{/app/logout}">
                <button type="submit" class="btn-primary">Wyloguj się</button>
            </form>
        </li>
    </ul>
</nav>

<input type="hidden" name="username" id="username" th:value="${username}">
<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
        </div>
        <div class="connecting">
            Łączenie...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Treść wiadomości..." autocomplete="off"
                           class="form-control"/>
                    <button type="submit" class="btn btn-primary" style="margin-bottom:4px;white-space: normal;">
                        Wyślij
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>