<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Index</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div>
                <p>Zalogowano jako: </p>
                <h4 th:text="${user.username}"></h4> </br>
            </div>
            <div>
                <a href="/app/logout">Wyloguj się</a>
            </div>
        </div>
    </div>

</body>
</html>