<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PrideChat</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">PrideChat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>

        <div class="col-sm-6">
            <div class="shadow-none p-2 mb-4 bg-light"></div>
            <div class="media border p-1">
                <img src="img_avatar3.png" alt="USERNAME" class="mr-3 mt-3 rounded-circle" style="width:30px;">
                <div class="media-body">
                    <h6>USERNAME <small><i>18-05-2018</i></small></h6>
                    <p>Jakis randomowy text.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
</body>
</html>